<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    </style>
    <title>direct</title>
    <link rel="stylesheet" type="text/css" href="stylesheet/header.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/mainpage.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/footer.css">
    <link rel="stylesheet" href="../stylesheet/direction.css">

</head>
<body>
<!--key=AIzaSyBk5c_J98d8Ln_kRrdJL7-5Vxk36SYmQEc-->
<div id="header">
        <div id="title_bar">
            <div class="container">
                <form id="go_main" method="get" action="/">
                    <div id="logo">
                        <img id="logo_img" onclick="document.getElementById('go_main').submit()" src="../image/logo.png"/>
                    </div>
                    <a id="title_txt" onclick="document.getElementById('go_main').submit()">최덕순 법률 사무소</a>
                </form>

            </div>
        </div>
        <div id="body_header">
                <div id="body_top_bar"></div>
                <div id="body_bar">
                    <div id="body_bar_content">
                        <form id="go_profile" method="get" action="/profil">
                           <p onclick="document.getElementById('go_profile').submit()">프로필</p>
                        </form>
                        <p>|</p>
                        <form id="go_navigation" method="get" action="/route">
                           <p onclick="document.getElementById('go_navigation').submit()">찾아 오시는 길</p>
                        </form>
                    </div>
                </div>
        </div>
</div>
<div id="body" style="height:170%;">
    <div id="background"></div>
    <div id="body_content"  class="content" style="position:absolute;">
        <div id="map_block">
        </div>
        <div id = "how_to">
            <h2>버스 이용</h2>
            <lu></lu>
            <li>wefij</li>
            <li>wefij</li>
            <li>wefij</li>
            <li>wefij</li>
            <li>wefij</li>
            <li>wefij</li>
            <br/>
            <br/>
            <h2>지하철 이용</h2>
            <lu></lu>
            <li>wefij</li>
            <li>wefij</li>
            <li>wefij</li>
            <li>wefij</li>
            <li>wefij</li>
            <li>wefij</li>
            <br/>
            <br/>

        </div>
    </div>



</div>
    <div id="footer">
        <div id="footer_bar">

        </div>
    </div>
<script src="../scripts/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk5c_J98d8Ln_kRrdJL7-5Vxk36SYmQEc&callback=myMap"></script>
</body>
</html>