/*18.5%*/

#board_header{
    width: 350px;
    height:100px;
    margin:10px 600px 0 600px;
    background: rgba(40, 74, 242, 0);
    overflow:hidden;

}




.board_title{
    margin:0;
    display:inline-block;
    width: calc(100% - 18%*2 - 6px);
    height:100%;
    background: rgba(255, 255, 255, 0.31);
    /*border:1px solid gold;*/
    float:left;
    text-align:center;
}

#title_right{
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 23px;
    transition: 0.6s ease;
    border-radius: 0 10px 10px 0;

    display:inline-block;
    width:18%;
    height:100%;
    border:1px solid;
    /*border-color:red;*/
    float:left;
    text-align:center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.3);
    border-color:rgba(0, 0, 0, 0.3);
}

#title_left{
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 23px;
    transition: 0.6s ease;
    border-radius:  10px 0 0 10px;

    display:inline-block;
    width:18%;
    height:100%;
    border:1px solid;
    /*border-color:red;*/
    float:left;
    text-align:center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.3);
    border-color:rgba(0, 0, 0, 0.3);
}
.title_position{
    marigin: auto;
}

#board_container{
    margin:50px 275px 0 275px ;
    width:1000px;
    height:500px;
    background:white;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table {
  background-color: transparent;
}

th {
  text-align: left;
}

thead {
    display: table-header-group;
  }

tr{
    page-break-inside: avoid;
  }

.table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff ;
  }

  .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;

}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #21fff0;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

/*////////////////////////////////////////////////////////////*/

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.paging_block{
    display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.paging_a{
    position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.text-center {
  text-align: center;
}

#board_page_position{
    width:1550px;
    height:50px;
    margin-top:20px;
    text-align: center;
}

.board_body{
    height:800px;
}