#map_block{
    margin:5% 15% 0 15%;
    width:70%;
    height:40%;
    border:1px blue solid;
    position:absolute;
}

#how_to{
    margin: 37.9% 15% 0 15%;
    padding:30px;
    width:66.15%;
    height:40%;
    background: rgba(255, 255, 255, 0.45);
}