/*max width:1550px;*/

#container{
    width:1519px;
    height:auto;
    margin:0 auto;
    text-align: center;
    background-image:url('../image/background3.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
}
#header{
    height:183px;
    width:100%;
}

#header_upper{
    width:100%;
    height:3px;
    background: #000000;
}

#header_middle{
    width:100%;
    height:130px;
    background: #ffffff;

}

#header_middle_content{
    max-width: 90%;
    height:130px;
    margin:auto;
    text-align:center;
}
#title{
    max-width:90%;
    height:130px;
    display:inline-block;
    margin:0;
}
#header_middle_content a{
    font-size: 90px;
    margin: 30px auto;
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    word-wrap: break-word !important;
    line-height: 44px !important;
    letter-spacing: -0.6px !important;
    vertical-align: 30px;
    display:inline-block;
}
#logo{
    width:130px;
    height:130px;
    display:inline-block;
}
#logo_img{
    width:130px;
    height:130px;
}

#header_bottom{
    width:100%;
    height:50px;
    background: rgba(173, 255, 47, 0.45);
    overflow:hidden;
}

#header_bottom  p{
    float:left;
    margin-left:20px;
}


#body{
    width:100%;
}

#footer{
    width:100%;
    height:150px;
    background-color:gray;
    border:.1px solid gray;
}

#header_bottom p{
    color:white;
    cursor:default;
}

#header_bottom form>p{
    cursor:pointer;
}

#header_bottom form>p:hover{
    color:yellow;
}

#footer p{
    margin:18px auto;
}
#footer h4{
    margin:18px auto;

}