#header{
    position:fixed;
    top:0px;
    z-index:1000000;
    width:100%;
    height:150px;
}

#title_bar{
    position:relative;
    height:70%;
    font-family: NaumGothic;
    overflow:hidden;
    background-color:#ffffff;
    vertical-align: middle;
    color: #484848;
}

#logo{
    float:left;
    margin-right: 30px;
}
#logo_img{
    width:90px;
    height:auto;
}

#title_txt{
    font-size: 70px;
    margin: 10px auto;
}

#body_header{
    height:9%;
}
#body_top_bar{
    background: #000000;
    width:100%;
    height:3%;
    /*height:3px;*/
}
#body_bar{
    background-color: rgba(0, 249, 255, 0.5);
    width:100%;
    /*height:95%;*/
    height:45px;

}

.container{
    width:730px;
    margin: 15px auto;
}
