#body{
    position: relative;
    height: calc(100% - 150px);
    top:105px;
}



#background{
    position:absolute;
    background-image: url("../image/background3.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height: auto;
}

#body_content{

}


#body_bar_content{
    overflow:hidden;
    margin-left:10px;
}

#body_main{
    vertical-align: middle;
    width:100%;
    height:91%;
}

#body_main_center{
    margin: 0 auto;
    width:1400px;
    height: 100%;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    overflow:hidden;
}




#btn_civil_law{

}
#btn_criminal_law{

}
#btn_real_estate{

}

.content{
    position: relative;
    width:100%;
    height: 100%;
    margin: auto;
}

.block{
    width:210px;
    height:210px;
    margin: 160px 125px 150px 125px;
    float:left;

}

.block > div{
    width:210px;
    height:210px;
    border: 3px solid #000000;
    box-shadow: 0 5px 50px rgba(11, 12, 12, 1);
    border-radius: 20px;
    font-weight:bold;
    background-color: white;
    overflow:hidden;
    vertical-align: middle;
    display:table-cell;
    text-align:center;
}

.block a{
    margin:3px auto;
}

.block img{

}


.block > img{

}

.block>div:hover{
}