#body{
    position: relative;
    height: calc(100% - 150px);
}



#background{
    position:absolute;
    background-image: url("../image/background3.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height: auto;
}

#body_content{

}
#body_header{
    height:9%;
}
#body_top_bar{
    background: #0000ff;
    width:100%;
    height:5%;
    /*height:3px;*/
}
#body_bar{
    background-color: rgba(9, 255, 0, 0.5);
    width:100%;
    /*height:95%;*/
    height:45px;

}

#body_bar_content{
    overflow:hidden;
    margin-left:10px;
}

#body_main{
    vertical-align: middle;
    width:100%;
    height:91%;
}

#body_main_center{
    margin: 0 auto;
    width:1400px;
    height: 100%;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    overflow:hidden;
}

#body_bar_content p{
    font-family: NaumGothic;
    float:left;
    margin: 15px;
    font-weight: 600;
    color: white;
    outline-width: 1px;
    outline-color: black;
}

#body_bar_content>form>p:hover{
    color:yellow;
}

#btn_civil_law{

}
#btn_criminal_law{

}
#btn_real_estate{

}

.content{
    position: relative;
    width:100%;
    height: 100%;
    margin: auto;
}

.block{
    width:210px;
    height:210px;
    margin: 160px 125px 150px 125px;
    float:left;

}

.block > div{
    width:210px;
    height:210px;
    border: 5px solid #000000;
    border-radius: 20px;
    font-weight:bold;
    background-color: white;
    overflow:hidden;
    vertical-align: middle;
    display:table-cell;
    text-align:center;
}

.block a{
    margin:3px auto;
}

.block img{

}


.block > img{

}

.block>div:hover{

}